<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OptiMerchantPassword</key>
	<string>Single Use API Key Password</string>
	<key>OptiMerchantID</key>
	<string>Single Use API Key ID</string>
	<key>countryCode</key>
	<string>US</string>
	<key>CurrencyCode</key>
	<string>USD</string>
	<key>merchantAccount</key>
	<string>Your merchant account number</string>
	<key>merchantIdentifier</key>
	<string>Your merchant identifier</string>
</dict>
</plist>
