<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countryCode</key>
	<string>US</string>
	<key>CurrencyCode</key>
	<string>USD</string>
	<key>merchantAccount</key>
	<string>89983449</string>
	<key>merchantIdentifier</key>
	<string>merchant.com.optimalpayments.test.example02</string>
	<key>OptiMerchantID</key>
	<string>OT-16156</string>
	<key>OptiMerchantPassword</key>
	<string>B-qa2-0-552b9bcf-0-302c02144ed8f9b8aea9d65b44b77a16a81ec5f9ab916f8c02142b4e69b3a272b866b1e263b0b0c7a925a8945418</string>
</dict>
</plist>
